@charset "UTF-8";
.controls {
    z-index: 9999;
    position: absolute;
    opacity:.25;
    bottom: 10px;
    border-radius: 100%;
}
    #joystick{
        height: 200px;
        width: 200px;
        left: 100px;
        
        background-color: #000;
    }
    #joystick:active{
        box-shadow: 0 0 10px 10px #000;
    }
    .actionButton{
        height: 120px;
        width: 120px;
        bottom: 10px;
    }
    .actionButton:active{
        box-shadow: 0 0 10px 10px #f00;
    }
    
        #attackButton{
            right: 50px;
            bottom: 200px;
            background-color: red;
        }
        #attackButton:active{
            box-shadow: 0 0 10px 10px #f00;
        }
        #defendButton{
            right: 50px;
            background-color: green;
        }
        #defendButton:active{
            box-shadow: 0 0 10px 10px #0f0;
        }