@charset "UTF-8";
.powerbar {
    z-index: 999;
    position: absolute;
    background-color: #c00;
    height: 40px;
    width: 35px;
}
.smoke {
    z-index: 997;
    position: absolute;
    background-color: #ccc;
    height: 75px;
    width: 75px;
    opacity: .8;
    border-radius: 100%;
}